.main-navbar {
  animation: slideInFromTop 0.5s ease-in-out;
  transition: 0.5s;
  background-color: #545454 !important;
  font-weight: 400;
  width: 100vw;
  z-index: 100;
}
.social-icon:hover {
  color: #6191bf !important;
}
.social-icons {
  display: inherit;
  float: right;
  font-size: 25px;
}

#basic-navbar-nav a {
  color: white;
}

#basic-navbar-nav a:hover {
  color: #ff3838;
}
@media only screen and (max-width: 800px) {
  /* .navbar-nav {
    float: left !important;
  } */
  .social-icons {
    float: right;
    margin-top: -150px;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
